
LI.ms-crm-Menu, LI.ms-crm-Menu-Spacer
{
    height: 23px;
    padding-top: 2px;
    float: left;
}

TABLE.ms-crm-ActionBar * IMG.ms-crm-Menu-Spacer
{
    margin-top: 3px;
}


SPAN.ms-crm-Menu-Label
{
    margin-left: 1px;
    margin-right: 1px;
    height: 21px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 3px;
    overflow-y: hidden;
    cursor: default;
    vertical-align: middle;
}

SPAN.ms-crm-Menu-Label a:link
{
    
    text-decoration: none;    
}

A.ms-crm-Menu-Label, A.ms-crm-Menu-Label:link, A.ms-crm-Menu-Label:visited, A.ms-crm-Menu-Label:active, A.ms-crm-Menu-Label:hover, A.ms-crm-MenuLink, A.ms-crm-MenuLink:link, A.ms-crm-MenuLink:visited, A.ms-crm-MenuLink:active, A.ms-crm-MenuLink:hover
{
    cursor: default;
}
TABLE.ms-crm-MenuBar * SPAN.ms-crm-Menu-Label, TABLE.ms-crm-MenuBar * SPAN.ms-crm-Menu-Label-Opened, TABLE.ms-crm-MenuBar * SPAN.ms-crm-Menu-Label-Hovered
{
    margin-top: 3px;
}
TABLE.ms-crm-MenuBar * LI.ms-crm-Menu-Spacer
{
    margin-top: 5px;
}
TABLE.ms-crm-MenuBar * TD.ms-crm-Menu-ICRight
{
    padding-bottom: 14px;
}

SPAN.ms-crm-Menu-Label-Opened
{
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    height: 20px;
    overflow-y: hidden;
    border: #937D5A 1px solid;
    background-image: url(../_imgs/toolbar_msdown.gif);
    background-repeat: repeat-x;
    white-space: nowrap;
}

SPAN.ms-crm-Menu-Label-Hovered
{
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    overflow-y: hidden;
    height: 20px;
    border: #ffdb6c 1px solid;
    background-image: url(../_imgs/toolbar_hover.gif);
    background-repeat: repeat-x;
}


img.ms-crm-Menu-Button, img.ms-crm-Menu-ButtonFirst, img.ms-crm-Menu-ButtonRTL, img.ms-crm-Menu-ButtonLTR
{
    width: 16px;
    height: 16px;
    vertical-align: top;
}
SPAN.ms-crm-MenuItem-Text
{
    margin: 0px 1px;
}
img.ms-crm-Menu-Button
{
    margin-left: 1px;
    margin-right: 1px;
}
img.ms-crm-Menu-ButtonFirst, SPAN.ms-crm-MenuItem-TextFirst
{
    margin-left: 3px;
    margin-right: 3px;
}
SPAN.ms-crm-MenuItem-TextRTL, img.ms-crm-Menu-ButtonRTL
{
    margin-right: 3px;
}
img.ms-crm-Menu-ButtonLTR, SPAN.ms-crm-MenuItem-TextLTR
{
    margin-left: 3px;
}


SPAN.ms-crm-MenuItem-Text, SPAN.ms-crm-MenuItem-TextFirst, SPAN.ms-crm-MenuItem-TextRTL, SPAN.ms-crm-MenuItem-TextLTR
{
    padding-top: 1px;
    height: 16px;
    vertical-align: top;
    color: #15428b;
}


img.ms-crm-Menu-DownArrow
{
    width: 11px;
    height: 16px;
    vertical-align: top;
}

SPAN.ms-crm-MenuItem-Icon
{
    margin-left: 1px;
    margin-right: 1px;
    width: 30px;
}


IMG.ms-crm-SubMenu-RightArrow
{
    position: absolute;
    right: 6px;
    width: 4px;
    height: 7px;
    margin-top: 4px;
}
SPAN.ms-crm-Menu-Group, SPAN.ms-crm-Menu-Group-Opened, SPAN.ms-crm-Menu-Group-Hovered
{
    background-repeat: repeat-y;
    background-image: url(../_imgs/menu_margin.gif);
    color: #7e7e7e;
    background-color: #e9e9e9;
    font-weight: bold;
}

SPAN.ms-crm-Menu-Group, SPAN.ms-crm-Menu-Group-Opened, SPAN.ms-crm-Menu-Group-Hovered, SPAN.ms-crm-MenuItem-Label, SPAN.ms-crm-MenuItem-Label-Opened, SPAN.ms-crm-MenuItem-Label-Hovered
{
    cursor: default;
    width: 100%;
    margin-top: 1px;
}
SPAN.ms-crm-Menu-Group, SPAN.ms-crm-Menu-Group-Opened, SPAN.ms-crm-Menu-Group-Hovered, SPAN.ms-crm-MenuItem-Label
{
    height: 22px;
    padding: 3px;
}

SPAN.ms-crm-MenuItem-Label-Opened, SPAN.ms-crm-MenuItem-Label-Hovered
{
    padding: 2px;
    height: 20px;
    border: #ffb74c 1px solid;
    background-color: ffe6a0;
}

IMG.ms-crm-Menu-JewelButton
{
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
UL.ms-crm-MenuBar-Left
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 2px;
}
TABLE.ms-crm-ActionBar * UL.ms-crm-MenuBar-Left
{
    margin-top: 0px;
}
UL.ms-crm-MenuBar-Right
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 2px;
}
TABLE.ms-crm-ActionBar * UL.ms-crm-MenuBar-Right
{
    margin-top: 0px;
}

table.scroll
{
    width: 100%;
    height: 100%;
    behavior: url(../_static/_common/scripts/scroll.htc);
}

UL.ms-crm-MenuList
{
    list-style: none;
    border: 1px solid #7e7e7e;
    margin: 0px;
    padding: 0px;
    display: none;
    width: 100%;
    background: #ffffff;
    background-repeat: repeat-y;
    background-image: url(../_imgs/menu_margin.gif);
}
LI.ms-crm-Group-Spacer
{
    display: inline;
    width: 100%;
    height: 23px;
    white-space: nowrap;
}
LI.ms-crm-MenuItem-Label
{
    width: 100%;
    height: 23px;
    margin-left: -16px;
    white-space: nowrap;
}
LI.ms-crm-SubMenu
{
    width: 100%;
    height: 23px;
    display: inline;
}

table.ms-crm-MenuBar
{
    color: #000000;
    height: 44px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
    background-image: url(../_imgs/form_toolbar_back.gif);
    background-repeat: repeat-x;
}

table.ms-crm-AppMenuBar
{
    color: #000000;
    height: 27px;
    overflow: hidden;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    background-image: url(../_imgs/appmenu_back.gif);
    background-repeat: repeat-x;
}

table.ms-crm-ActionBar
{
    color: #000000;
    height: 25px;
    overflow: hidden;
    width: 100%;
    border-left: 1px solid #6893CF;
    border-top: 1px solid #6893CF;
    border-right: 1px solid #6893CF;
    background-image: url(../_imgs/gridtoolbar_back.gif);
    background-repeat: repeat-x;
}

li.ms-crm-MenuList-Spacer
{
    display: inline;
    height: 2px;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-left: 35px;
}

td.ms-crm-MenuBar-Items
{
    width: 85%;
    behavior: url(../../_static/_common/scripts/menu.htc);
}
td.ms-crm-Menu-ICRight
{
    position: absolute;
    right: 0px;
    text-align: right;
}

td.ms-crm-Menu-Title
{
    font-weight: bold;
    cursor: default;
    color: #000000;
}

td.ms-crm-Menu-Right
{
    width: 100%;
    text-align: right;
    padding-right: 5px;
}

hr.ms-crm-MenuList-Spacer
{
    height: 1px;
    color: #c5c5c5;
    width: 100%;
}

nobr.ms-crm-Menu-Title
{
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.ms-crm-MenuBar-Shadow
{
    border-top: 1px solid #A8AEB5;
    border-bottom: 1px solid #ffffff;
}

div.ms-crm-ToolBar-Shadow
{
    border-bottom: 1px solid #6893cf;
}

table.ms-crm-Form-Title
{
    width: 100%;
    height: 48px;
    table-layout: fixed;
}
table.ms-crm-Form-Title-NoNav
{
    padding-top: 6px;
    width: 100%;
    height: 54px;
    table-layout: fixed;
}

td.ms-crm-Form-Title
{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

TD.ms-crm-Form-LargeIcon
{
    padding-left: 48px;
    width: 170px;
}

TD.ms-crm-Form-LargeIcon-NoNav
{
    width: 86px;
}

TR.ms-crm-Form-Title
{
    vertical-align: top;
}


table.ms-crm-Form-Title, table.ms-crm-Form-Title-NoNav
{
    background-color: #d8e8ff;
}

IMG.ms-crm-Form-Breadcrumb-Nav
{
    margin-right: 8px;
    vertical-align: middle;
}

span.ms-crm-Form-Title
{
    line-height: 16px;
    vertical-align: bottom;
    font-size: 11px;
    font-weight: bold;
}

span.ms-crm-Form-Breadcrumb
{
    line-height: 18px;
    vertical-align: bottom;
    color: #6699cc;
    font-size: 18px;
    font-weight: bold;
}

div.ms-crm-Standard-Popup
{
    border: 1px solid #7e7e7e;
    margin: 0px;
    padding: 0px;
    display: none;
    width: 100%;
    background: #ffffff;
    background-repeat: repeat-y;
    background-image: url(../_imgs/menu_margin.gif);
}

div.ms-crm-Standard-Item
{
    width: 100%;
    margin-top: 1px;
    height: 22px;
    padding: 3px;
    padding-left: 35px;
}

div.ms-crm-Standard-Item-Glow
{
    height: 22px;
    width: 100%;
    margin-top: 1px;
    padding: 2px;
    border: #ffb74c 1px solid;
    background-color: #ffe6a0;
    padding-left: 34px;
}

hr.ms-crm-Standard-Item
{
    height: 2px;
    height: 1px;
    color: #c5c5c5;
    width: 100%;
    padding-left: 35px;
}
