<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="CRM_DEVES" connectionString="AuthType=IFD;Url=https://crm.deves.co.th/CRM; domain=dvs; Username=crmappadmin@dvs.ins; Password=crmapp@2490" />
    <!--
    <add name="CRM_DEVES" connectionString="AuthType=IFD;Url=https://crm.deves.co.th/; domain=dvs; Username=crmappadmin@dvs.ins; Password=crmapp@2490" />
    <add name="CRM_DEVES" connectionString="AuthType=IFD;Url=https://crm.deves.co.th/CRM; domain=dvs; Username=crmtest1@dvs.ins; Password=crm#01" />
    
    <add name="CRM_DEVES" connectionString="AuthType=IFD;Url=https://crmqa.deves.co.th/CRMQA; domain=dvs; Username=crmtest1@dvs.ins; Password=crm#01" />
    <add name="CRM_DEVES" connectionString="AuthType=AD;Url=https://crmqa.deves.co.th/CRMQA; domain=dvs; Username=crmtest1@dvs.ins; Password=crm#01" />
    <add name="CRM_DEVES" connectionString="AuthType=Office365;Username=crmtest1@dvs.ins; Password=crm#01;Url=https://crmdev.deves.co.th/CRMDEV"/>
    -->

    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DEVES.IntegrationAPI.WebApi-20170127070119.mdf;Initial Catalog=aspnet-DEVES.IntegrationAPI.WebApi-20170127070119;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ENVIRONMENT" value="PRODUCTION" />
    <add key="ERRORLOG_PATH" value="D:\CRMExtData\ErrorLog" />

    <add key="CRMDB" value="Data Source=CRM-DB;Initial Catalog=CRM_MSCRM;Persist Security Info=True;User ID=CRMDevelop;Password=Develop%D;Connection Timeout=600" />


    <add key="CRM_CUSTOMAPP_DB_TON" value="Data Source=DESKTOP-Q30CAGJ;Initial Catalog=CRM_CUSTOM_APP;User ID=sa;Password=patiwat" />


    <add key="CRM_CUSTOMAPP_DB_SERVER" value="Data Source=CRM-DB;Initial Catalog=CRM_CUSTOM_APP;Persist Security Info=True;User ID=CRMDevelop;Password=Develop%D" />
    <add key="CRM_CUSTOMAPP_DB" value="Data Source=CRM-DB;Initial Catalog=CRM_CUSTOM_APP;Persist Security Info=True;User ID=CRMDevelop;Password=Develop%D" />

    <add key="JSON_SCHEMA_ClaimRegistrationInputModel" value="~/App_Data/JsonSchema/LOCUS_Integration_Input_Schema.json" />
    <add key="API_ENDPOINT_INTERNAL_SERVICE" value="https://crmapp.deves.co.th/internal-service/api" />
    <add key="API_ENDPOINT_EWIPROXY_SERVICE" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonservice/" />
    <add key="API_ENDPOINT_CRMPROXY" value="https://crmapp.deves.co.th/proxy/xml.ashx?" />
    <add key="API_ENDPOINT_CRMPROXY_SOAP" value="http://crmapi.deves.co.th/proxy/soap.ashx?" />

    <add key="EWI_ENDPOINT_ClaimRegistration" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonproxy/LOCUS_ClaimRegistration" />
    <add key="JSON_SCHEMA_InquiryClientMasterInputModel" value="~/App_Data/JsonSchema/JSON_SCHEMA_InquiryClientMasterInputModel.json" />
    <!--<add key ="EWI_ENDPOINT_CLSInquiryPersonalClient" value="http://localhost:50076/api/TEST_CLSInquiryClientPersonal"/>-->
    <add key="EWI_ENDPOINT_CLSInquiryPersonalClient" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonproxy/CLS_InquiryCLSPersonalClient" />
    <add key="EWI_ENDPOINT_CLSInquiryCorporateClient" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonproxy/CLS_InquiryCLSCorporateClient" />

    <add key="EWI_ENDPOINT_COMPInquiryClientMaster" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonservice/COMP_InquiryClientMaster" />

    <add key="JSON_SCHEMA_InquiryCRMPayeeListInputModel" value="~/App_Data/JsonSchema/JSON_SCHEMA_InquiryCRMPayeeListInputModel.json" />
    <add key="EWI_ENDPOINT_MOTORInquiryMasterASRH" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonservice/MOTOR_InquiryMasterASRH" />
    <add key="EWI_ENDPOINT_APARInquiryPayeeList" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonservice/MOTOR_InquiryAPARPayeeList" />
    <add key="EWI_ENDPOINT_SAPInquiryVendor" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonproxy/COMP_SAPInquiryVendor" />

    <add key="EWI_ENDPOINT_CLSCreatePersonalClient" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonproxy/CLS_CreatePersonalClient" />
    <add key="EWI_ENDPOINT_CLSCreateCorporateClient" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonproxy/CLS_CreateCorporateClient" />
    <add key="EWI_ENDPOINT_SAPCreateVendor" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonproxy/COMP_SAPCreateVendor" />
    <add key="EWI_ENDPOINT_CLIENTCreatePersonalClient" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonservice/CLIENT_CreatePersonalClientAndAdditionalInfo" />
    <add key="EWI_ENDPOINT_CLIENTCreateCorporateClient" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonservice/CLIENT_CreateCorporateClientAndAdditionalInfo" />
    <add key="EWI_ENDPOINT_CLIENTUpdateCorporateClient" value="http://192.168.3.94/ServiceProxy/ClaimMotor/jsonservice/CLIENT_UpdateCorporateClientAndAdditionalInfo" />

    <add key="JSON_SCHEMA_RegClientPersonalInputModel" value="~/App_Data/JsonSchema/RegClientPersonal_Input_Schema.json" />
    <add key="JSON_SCHEMA_RegClientCorporateInputModel" value="~/App_Data/JsonSchema/RegClientCorporate_Input_Schema.json" />
    <add key="JSON_SCHEMA_RegPayeePersonalInputModel" value="~/App_Data/JsonSchema/RegPayeePersonal_Input_Schema.json" />
    <add key="JSON_SCHEMA_RegPayeeCorporateInputModel" value="~/App_Data/JsonSchema/RegPayeeCorporate_Input_Schema.json" />

    <add key="EWI_ENDPOINT_COMPSendSMS" value="http://192.168.3.94/ServiceProxy/Common/jsonservice/COMP_SendSMS" />
    <add key="JSON_SCHEMA_SendSMSInputModel" value="~/App_Data/JsonSchema/SendSMS_Input_Schema.json" />

    <add key="SearchRecordsLimit" value="30" />

  </appSettings>

  <system.web>

    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>

    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>

    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="aiAppender" />
    </root>
    <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>