<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <appSettings>
      <add key="CRMDB" value="Data Source=192.168.8.121;Initial Catalog=CRMQA_MSCRM;Persist Security Info=True;User ID=CRMDevelop;Password=Develop%D;Connection Timeout=600" />


      <add key="CRM_CUSTOMAPP_DB_TON" value="Data Source=DESKTOP-Q30CAGJ;Initial Catalog=CRM_CUSTOM_APP;User ID=sa;Password=patiwat" />

      <add key="CRM_CUSTOMAPP_DB_SERVER" value="Data Source=192.168.8.121;Initial Catalog=CRM_CUSTOM_APP;Persist Security Info=True;User ID=CRMDevelop;Password=Develop%D" />
      <add key="CRM_CUSTOMAPP_DB" value="Data Source=.\SQLEXPRESS2016;Initial Catalog=CRM_CUSTOM_APP;Integrated Security=SSPI" />

      <add key="JSON_SCHEMA_ClaimRegistrationInputModel" value="~/App_Data/JsonSchema/LOCUS_Integration_Input_Schema.json" />
      <add key="EWI_ENDPOINT_ClaimRegistration" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonproxy/LOCUS_ClaimRegistration" />
      <add key="JSON_SCHEMA_InquiryClientMasterInputModel" value="~/App_Data/JsonSchema/JSON_SCHEMA_InquiryClientMasterInputModel.json" />
      <!--<add key ="EWI_ENDPOINT_CLSInquiryPersonalClient" value="http://localhost:50076/api/TEST_CLSInquiryClientPersonal"/>-->
      <add key="EWI_ENDPOINT_CLSInquiryPersonalClient" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonproxy/CLS_InquiryCLSPersonalClient" />
      <add key="EWI_ENDPOINT_CLSInquiryCorporateClient" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonproxy/CLS_InquiryCLSCorporateClient" />

      <add key="EWI_ENDPOINT_COMPInquiryClientMaster" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonservice/COMP_InquiryClientMaster" />

      <add key="JSON_SCHEMA_InquiryCRMPayeeListInputModel" value="~/App_Data/JsonSchema/JSON_SCHEMA_InquiryCRMPayeeListInputModel.json" />
      <add key="EWI_ENDPOINT_MOTORInquiryMasterASRH" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonservice/MOTOR_InquiryMasterASRH" />
      <add key="EWI_ENDPOINT_APARInquiryPayeeList" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonservice/MOTOR_InquiryAPARPayeeList" />
      <add key="EWI_ENDPOINT_SAPInquiryVendor" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonproxy/COMP_SAPInquiryVendor" />

      <add key="EWI_ENDPOINT_CLSCreatePersonalClient" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonproxy/CLS_CreatePersonalClient" />
      <add key="EWI_ENDPOINT_CLSCreateCorporateClient" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonproxy/CLS_CreateCorporateClient" />
      <add key="EWI_ENDPOINT_SAPCreateVendor" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonproxy/COMP_SAPCreateVendor" />
      <add key="EWI_ENDPOINT_CLIENTCreatePersonalClient" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonservice/CLIENT_CreatePersonalClientAndAdditionalInfo" />
      <add key="EWI_ENDPOINT_CLIENTCreateCorporateClient" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonservice/CLIENT_CreateCorporateClientAndAdditionalInfo" />
      <add key="EWI_ENDPOINT_CLIENTUpdateCorporateClient" value="https://crmappdev.deves.co.th/proxy/xml.ashx?http://192.168.3.194/ServiceProxy/ClaimMotor/jsonservice/CLIENT_UpdateCorporateClientAndAdditionalInfo" />

      <add key="JSON_SCHEMA_RegClientPersonalInputModel" value="~/App_Data/JsonSchema/RegClientPersonal_Input_Schema.json" />
      <add key="JSON_SCHEMA_RegClientCorporateInputModel" value="~/App_Data/JsonSchema/RegClientCorporate_Input_Schema.json" />
      <add key="JSON_SCHEMA_RegPayeePersonalInputModel" value="~/App_Data/JsonSchema/RegPayeePersonal_Input_Schema.json" />
      <add key="JSON_SCHEMA_RegPayeeCorporateInputModel" value="~/App_Data/JsonSchema/RegPayeeCorporate_Input_Schema.json" />


      <add key="SearchRecordsLimit" value="30" />

    </appSettings>
  </system.web>
</configuration>
