table(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', align='center', width='100%', style='max-width: 680px;')
    tr
        td.x-gmail-data-detectors(style='padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; line-height:18px; text-align: center; color: #888888;')
            webversion(style='color:#cccccc; text-decoration:underline; font-weight: bold;') .textareaบริษัท เทเวศประกันภัย จำกัด (มหาชน) The Deves Insurance Public Company Limited
                | สงวนลิขสิทธิ์ตาม พรบ. ลิขสิทธิ์ พศ. ๒๕๓๕ ©Copyright 1947-2014 Deves Insurance All Right Reserved  Thailand Web Stat


// Email Footer : END
//if mso