//
   Created by patiw on 29/4/2560.
style.
    body {
        padding-top: 60px;
        font-size: 12px !important;
    }
    .image-icon {
        width: 30px;
        height: 30px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 30px 30px;
    }
    .navbar-brand {
        padding-top: 5px;
    }
    input.form-control {
        width: 15px;
        webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) !important;
    }
    td {
        vertical-align: middle !important;
        font-size: 12px !important;
    }
    .action-bar {
        margin-left: 0px;
        padding-top: 2px;
        margin-right: 2px;
    }
    #page-nav-header {
        background-repeat: repeat-x;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAB+CAIAAACWFscAAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAJOgAACToAYJjBRwAAACiSURBVEhLbcexCQAhFECxP4ojOaw43xUHrwhCmsw992lm7TcfHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//W/sDH7DGkBRJg0cAAAAASUVORK5CYII=');
    }
    .click-able {
        cursor: pointer;
    }
    .click-able:hover {
        background-color: #DFDFDF;
    }
    input.form-control {
        width: auto;
    }
    .container {
        width: 95% !important;
    }
    .input-sm {
        height: 25px !important;
        width: 95% !important;
    }
    .label {
        font-weight: 200;
    }
    .page-info-value {
        color: blue;
        border-bottom: 1px solid rgba(133, 144, 136, 0.42);
        min-height: 25px;
    }
    legend{
        font-size: 13px;
        font-weight: 200;

    }
    .form-horizontal .col-sm-9{
        padding-left: 0 !important;
    }
    .form-horizontal .col-sm-3 {
        width: 23.5% !important;
    }
    .form-horizontal .col-sm-2 {
        width: 14% !important;
    }
    input,select,option{
        color: blue !important;
    }

    pre.json {
        outline: 1px solid #ccc;
        padding: 5px;
        margin: 5px;
    }

    .string {
        color: green;
    }

    .number {
        color: darkorange;
    }

    .boolean {
        color: blue;
    }

    .null {
        color: magenta;
    }

    .key {
        color: red;
    }
    .hide{
        display: none;
    }

    .navbar-header{
        max-width:200px;
    }
    a{
        cursor: pointer;
    }

    .page-header {
        padding-bottom: 0px;
        margin: 10px 0 10px;
        border-bottom: 0px solid #eee;
    }


    .close {
        font-size: 12px;
    }