meta(charset='UTF-8')
link(rel='stylesheet', href='/vendor-resource/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/vendor-resource/bootstrap/css/bootstrap.min.css', crossorigin='anonymous')
link(rel='stylesheet', href='/vendor-resource/bootstrap/css/bootstrap-theme.min.css', crossorigin='anonymous')

link(href='/WebResources/pfc_angular_css', rel='stylesheet', crossorigin='anonymous')
script(src='/WebResources/pfc_jquery', type='text/javascript', crossorigin='anonymous')
script(src='/WebResources/pfc_angular_js', type='text/javascript')
script(src='/WebResources/pfc_angular_modules_js', type='text/javascript')
script(src='/WebResources/pfc_bootstrap_js', type='text/javascript')
script(src='/WebResources/pfc_variables_constructor', type='text/javascript')
