tr#question-header
    td.heading-question(bgcolor='#ffffff' style="bac")
        .row
            .col-sm-12
                h3.text-center.
                    แบบสำรวจความพึงพอใจด้านรับประกันภัย
        .row
            .col-sm-12.
                เรียน ท่านผู้มีอุปการะคุณ <br/><br/>
                บริษัท เทเวศประกันภัย จำกัด (มหาชน) ขอขอบพระคุณอย่างสูงที่ท่านมอบความไว้วางใจในการใช้บริการ<br/>
                บริษัทฯ มีความมุ่งมั่นในการพัฒนาการดำเนินงานเพื่อให้บริการที่ดี มีคุณภาพ และได้รับความพึงพอใจสูงสุด<br/>
                บริษัทฯ จึงใคร่ขอความกรุณาโปรดตอบแบบสอบถาม และกดปุ่ม"ส่งข้อมูล" ที่ด้านล่าง จักเป็นพระคุณยิ่ง<br/><br/>
        .row
            .col-sm-12
                |อุเทน ศรีใส

        .row
            .col-sm-12
                |รองผู้อำนวยการฝ่ายบริการลูกค้า
tr
    td.heading-question.button-start-panel#button-start-panel(bgcolor='#ffffff' style="bac")
        .row
            .col-sm-12.text-center
                a.btn.btn-success(data-ng-click="startQuestion()")

                        | เริ่มทำแบบประเมิน
