<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="TOP_QUERY" value="100"/>
    <add key="CRMDATA" value="Data Source=crmqa.deves.co.th;Initial Catalog=CRMQA_MSCRM;Persist Security Info=True;User ID=CRMDevelop;Password=Develop%D"/>
    <add key="SERVER" value="https://{0}/"/>
    <add key="URL_POLICY" value="main.aspx?etc=10009&amp;extraqs=%3f_gridType%3d10009%26etc%3d10009%26id%3d%257b{0}%257d&amp;newWindow=true&amp;pagetype=entityrecord"/>
    <add key="ORGANIZES" value="https://crmqa.deves.co.th"/>
    <add key="URL_CONTACT"/>
    <add key="URL_PARAMS_PHONECALL" value="%3fcontactInfo%3d{0}%26etc%3d4210%26new_source%3d{1}%26new_caller_id%3d{2}%26new_czid%3d{3}%26new_pnum%3d{4}%26phonenumber%3d{5}%26new_incoming_number%3d{6}%26new_policy_number%3d{7}%26new_ctiparams_lookup%3d{8}"/>
    <add key="URL_PHONECALL" value="main.aspx?etc=4210&amp;extraqs={0}&amp;pagetype=entityrecord"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />-->
    <add name="DBCRM" connectionString="Url=http://192.168.8.122:5555/DEVCRM;Domain=dvs;Username=dvs\crmappadmin;Password=crmapp@2490" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

</configuration>
