tr#question-header
    td.heading-question(bgcolor='#ffffff')
        .row
            .col-sm-12
                a(href="question-form.html")
                    img(src="img/home.jpg",style="width:100%;background-color: white;")


