tr#thank-page(style="display:none")
    td.heading-question(bgcolor='#ffffff')
        .row
            .col-sm-12
                a(href="question-form.html")
                    img(src="img/deves/thanks.jpg",style="width:100%;background-color: white;")
