extends src/template

block headTitle
    title CRM-KM
block body
    .row
        .col-xs-3.col-xs-offset-1
            label อู่ที่จัดซ่อม
            select.form-control
                option ชื่ออู่
        .col-xs-3.col-xs-offset-1
            label วันที่ส่งซ่อม
            input.form-control(type="date")
        .col-xs-3
            label วันที่รับรถ
            input.form-control(type="date")
    .row
        .col-xs-10.col-xs-offset-1
            label แบบประเมินความพึงพอใจอู่


    .row
        .col-xs-10.col-xs-offset-1
            table.table.table-bordered.table-hover

                thead
                    tr
                        th คำถาม
                        th.text-center ไม่มีความเห็น
                        th.text-center มากที่สุด
                        th.text-center มาก
                        th.text-center ปานกลาง
                        th.text-center น้อย
                        th.text-center น้อยที่สุด
                tbody
                    tr(ng-repeat-start="questions in garageQuestions",style="background: #f0f3f5;")
                        td(colspan="7") {{questions.id}}) {{questions.title}}
                    tr(ng-repeat="item in questions.sub",ng-repeat-end)
                        td {{item.id}}) {{item.title}}
                        td.text-center
                            input(type="radio",ng-model="item.value",ng-value=0)
                        td.text-center
                            input(type="radio",ng-model="item.value",ng-value=5)
                        td.text-center
                            input(type="radio",ng-model="item.value",ng-value=4)
                        td.text-center
                            input(type="radio",ng-model="item.value",ng-value=3)
                        td.text-center
                            input(type="radio",ng-model="item.value",ng-value=2)
                        td.text-center
                            input(type="radio",ng-model="item.value",ng-value=1)


    .row
        .col-xs-10.col-xs-offset-1
            label ข้อคิดเห็นอื่นๆที่ท่านประสงค์แนะนำ
    .row
        .col-xs-3.col-xs-offset-1
            label(for="textareaRemark1") ด้านการจัดซ่อม
            textarea#textareaRemark1.form-control(rows="3")
        .col-xs-3
            label(for="textareaRemark2") ด้านการรับแจ้งและตรวจสอบอุบัติเหตุ
            textarea#textareaRemark2.form-control(rows="3")
        .col-xs-4
            label(for="textareaRemark3") อื่นๆ
            textarea#textareaRemark3.form-control(rows="3")

    .row
        .col-xs-10.col-xs-offset-1
            hr
            label หัวข้อการแสดงความคิดเห็น
    .row
        .col-xs-10.col-xs-offset-1

            .checkbox-inline(ng-repeat="option in remarkOption")
                label
                    input(type="checkbox")
                    |{{option.title}}
    .row
        .col-xs-10.col-xs-offset-1
            label(for="textareaRemark4") หมายเหตุอื่นๆ
            textarea#textareaRemark4.form-control(rows="3")

    .row
        .col-xs-10.col-xs-offset-1
            hr
            button.btn.btn-default.pull-right(data-ng-click="saveGarage()") Save

block script
    script(type='text/javascript').
        initvariable();
    script(type='text/javascript')
        include src/modula.js
        include src/run.js
        include src/controller.js

