USE [CRMQA_MSCRM]
GO
/****** Object:  StoredProcedure [dbo].[p_Rollup_Bootstrap_Calculate_41c8b73e9cb64a999323532be502f234]    Script Date: 7/5/2560 19:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_Rollup_Bootstrap_Calculate_41c8b73e9cb64a999323532be502f234]
@batchSize int, @operationType int = 0

AS
BEGIN
SET NOCOUNT ON;

-- Declarations
DECLARE @currDepth INT
DECLARE @rowCount INT
DECLARE @maxDepth INT
DECLARE @updatedDate DATETIME
DECLARE @maxRecord INT
DECLARE @start INT
DECLARE @end INT
DECLARE @startParentId INT
DECLARE @endParentId INT
DECLARE @recordsTobeProcessed INT
IF @operationType = 0 
BEGIN

		 SELECT TOP (1) @maxRecord=[Id] FROM [dbo].[Rollup_Bootstrap_Target_41c8b73e9cb64a999323532be502f234] ORDER BY [Id] DESC
		 SET @maxRecord = ISNULL(@maxRecord, 0)
		 SELECT @start = [BootstrapTargetPointer] FROM [RollupPropertiesBase]		 WHERE [RollupPropertiesId] = '41c8b73e-9cb6-4a99-9323-532be502f234'
		 SET @start= ISNULL(@start,0)
		 SET @end = @start + @batchSize
		 IF @end > @maxRecord  SET @end = @maxRecord

		 UPDATE [RBT] SET [RBT].[OutputValue] = ISNULL([RBT].[OutputValue],0) + ISNULL(result.[OutputValue],0), [RBT].[CountValue] = ISNULL([RBT].[CountValue],0) + ISNULL(result.[CountValue],0)

		 FROM [dbo].[Rollup_Bootstrap_41c8b73e9cb64a999323532be502f234] [RBT] WITH (TABLOCK) 
		 JOIN
			 (
				 SELECT [T].[ParentEntityId], SUM([T].[OutputValue]) AS [OutputValue] , COUNT([T].[Id]) AS [CountValue]
				 FROM [dbo].[Rollup_Bootstrap_Target_41c8b73e9cb64a999323532be502f234] [T] WITH (TABLOCK) 
				 WHERE [T].[Id] BETWEEN @start AND @end
				 GROUP BY [T].[ParentEntityId]
			 )result
			 ON [RBT].[EntityId] = [result].[ParentEntityId]
			 WHERE [RBT].[Status] IS NULL
		 SET @recordsTobeProcessed = @maxRecord - @end 
		 IF(@recordsTobeProcessed < 1) -- Termination condition
		 BEGIN

					UPDATE [RollupPropertiesBase]
					SET [BootstrapTargetPointer] = 0
					WHERE [RollupPropertiesId]='41c8b73e-9cb6-4a99-9323-532be502f234'
		 END
		 ELSE
		 BEGIN

					UPDATE [RollupPropertiesBase]
					SET [BootstrapTargetPointer] = @end + 1
					WHERE [RollupPropertiesId]='41c8b73e-9cb6-4a99-9323-532be502f234'
		 END
		 SELECT @recordsTobeProcessed

END
ELSE IF @operationType = 3 
BEGIN
		 SELECT @start = [BootstrapTargetPointer] , @currDepth= [BootstrapCurrentDepth] 
		 FROM [RollupPropertiesBase] WHERE [RollupPropertiesId] = '41c8b73e-9cb6-4a99-9323-532be502f234'
-- Get parent depth markers

					SELECT @startParentId = [Start], @endParentId =[End]
					FROM [dbo].[Rollup_Bootstrap_Markers_41c8b73e9cb64a999323532be502f234] 
					WHERE [Id] = @currDepth -1
		 SET @start= ISNULL(@start,0)


		SELECT @start = CASE WHEN (@start> [Start]) THEN @start ELSE [Start] END , @maxRecord = [End]
		FROM [dbo].[Rollup_Bootstrap_Markers_41c8b73e9cb64a999323532be502f234]
		WHERE [Id] = @currDepth

		 -- If we are past the processing counter, then we are done
		 IF(@start > @maxRecord)
			  SET @start = @maxRecord
		 -- CAP the processing to the max
		  SET @end = @start + @batchSize
		 IF(@end > @maxRecord)
			  SET @end = @maxRecord
		 IF (@currDepth < 1)
		 BEGIN
			  SET @rowCount =0
		 END
		 ELSE
		 BEGIN
				 SET @rowCount =0
				 --  Mark for Overflow Error on current set


				UPDATE [dbo].[Rollup_Bootstrap_41c8b73e9cb64a999323532be502f234] WITH (TABLOCK) 
				SET [Status] =2, [OutputValue]=NULL
				WHERE [Id] BETWEEN @start AND @end 
				AND [OutputValue] IS NOT NULL
				AND ([OutputValue] NOT BETWEEN -100000000000 AND 100000000000)
			 -- For Depth higher than 1, we need to bubble up the error or calculations
			 IF (@currDepth > 1)
			 BEGIN

						UPDATE [parent]
						 SET 
[parent].[OutputValue] = CASE WHEN ([parent].[Status] IS NOT NULL AND [parent].[Status] != 6 ) THEN NULL ELSE ISNULL([parent].[OutputValue],0) + ISNULL(result.[OutputValue],0) END, 
					  [parent].[CountValue] = CASE WHEN ([parent].[Status] IS NOT NULL AND [parent].[Status] != 6 ) THEN NULL ELSE ISNULL([parent].[CountValue],0) + ISNULL(result.[CountValue],0) END
						 FROM [dbo].[Rollup_Bootstrap_41c8b73e9cb64a999323532be502f234] [parent] WITH (TABLOCK) 
						 JOIN (

							SELECT [c].[ParentEntityId], SUM(ROUND([c].[OutputValue],2)) AS [OutputValue] , SUM([c].[CountValue]) AS [CountValue]
							FROM [dbo].[Rollup_Bootstrap_41c8b73e9cb64a999323532be502f234] [c] WITH (TABLOCK) 
							WHERE [c].[Id] BETWEEN @start AND @end
							AND [c].[Status] IS NULL OR [c].[Status] = 6
							GROUP BY [c].[ParentEntityId]
						 ) result
						 ON [parent].[EntityId] = result.[ParentEntityId]
						 WHERE ([parent].[Id] BETWEEN @startParentId AND @endParentId)						-- Needed to filter the record selection on parent Side (also Uses Index)
				 -- Bubble up Errors for Overflow,Hierarchy TO other Error

						UPDATE [parent]
						 SET [parent].[Status] = 3,
						 [parent].[OutputValue] = NULL , [parent].[CountValue] = NULL
						 FROM [dbo].[Rollup_Bootstrap_41c8b73e9cb64a999323532be502f234] [parent] WITH (TABLOCK) 
						 WHERE EXISTS( SELECT 1 FROM  [dbo].[Rollup_Bootstrap_41c8b73e9cb64a999323532be502f234] [c] WITH (TABLOCK) 
										WHERE [c].[Id] BETWEEN @start AND @end
										AND [c].[Status] != 6 AND [c].[Status] IS NOT NULL
										AND [c].[ParentEntityId] = [parent].[EntityId])
								AND [parent].[Id] BETWEEN @startParentId AND @endParentId
			 END
			 SET @recordsTobeProcessed = @maxRecord - @end

			 IF(@recordsTobeProcessed >0)
			 BEGIN

					UPDATE [RollupPropertiesBase]
					SET [BootstrapTargetPointer] = @end + 1
					WHERE [RollupPropertiesId]='41c8b73e-9cb6-4a99-9323-532be502f234'
				 SET @rowCount = 1
			 END
			 ELSE IF(@currDepth >0)
			 BEGIN

					UPDATE [RollupPropertiesBase]
					SET [BootstrapTargetPointer] = 0, [BootstrapCurrentDepth] = @currDepth -1 
					WHERE [RollupPropertiesId]='41c8b73e-9cb6-4a99-9323-532be502f234'
				 SET @rowCount = 1
			 END
			 ELSE
			 BEGIN -- Termination condition

					UPDATE [RollupPropertiesBase]
					SET [BootstrapTargetPointer] = 0, [BootstrapCurrentDepth] = 0 
					WHERE [RollupPropertiesId]='41c8b73e-9cb6-4a99-9323-532be502f234'

				 TRUNCATE TABLE [dbo].[Rollup_Bootstrap_Markers_41c8b73e9cb64a999323532be502f234]
				 SET @rowCount = 0
			 END

		 END
		 SELECT @rowCount
 END

END

GO
