USE [CRMQA_MSCRM]
GO
/****** Object:  StoredProcedure [dbo].[p_BatchDeleteDependencies]    Script Date: 7/5/2560 19:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[p_BatchDeleteDependencies]
as
begin
	-- delete from the Dependency table first
	delete from DependencyBase where RequiredComponentNodeId in (select NodeId from #NodesToDelete)
	delete from DependencyBase where DependentComponentNodeId in (select NodeId from #NodesToDelete)
	
	-- follow up by delete the node itself from the DependencyNode table
	delete from DependencyNodeBase where DependencyNodeId in (select NodeId from #NodesToDelete)
end

GO
